<!DOCTYPE html>
<html>
    <body>
        <form action='/articles/<%=@article.id%>' method="POST">
            <input type="text" id="title" name="title" value=<%=@article.title%>>
            <input type="text" id="content" name="content" value=<%=@article.content%>>
            <input type="hidden" id="hidden" name="_method" value="patch">
            <input type="submit" value="edit" id="edit" name="edit">
        </form>


    </body>

</html> 