<form action ="/articles/<%= @article.id %>" method="post">
<input type="hidden" name="_method" value="patch">
<h2> Title: <input type= "text" name= "title" value= "<%= @article.title %>"></h2><br>
<h2>Content: <input type = "text" name= "content" value= "<%= @article.content %>"></h2><br>
<input type = "submit" value="edit">
</form>
