<form action="/articles" method="post">
  <ul>
    <li>
      <label for="title">Title</label>
      <input id="title" value=<%=@article.title%> type="text" name="title" />
    </li>
    <li>
      <label for="content">Content</label>
      <input id="content" value=<%=@article.content%> type="text" name="content">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>