<form method="POST" action="/articles/<%=@articles.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Title</label>
  <input type="text" id="title" name="article[title]" value="<%=@articles.title%>">
  <label for="ingredients">Contebt</label>
  <input type="text" id="content" name="article[content]" value="<%=@articles.content%>">
  <input type="submit" value="submit">
</form>