<form class="center" method="post" action="/articles">
  <input type="text" name="title" value="Article Name"><br>
  <textarea name="content">Content</textarea><br>
  <input type="submit" id="submit">
</form>