<form action="/articles" method="POST">
<label>Title: <input type="text" name="title" id="title"></label><br>
<label>Content: <input type="text" name="content" id="content"></label><br>
<input type="submit" id="submit">
</form>