<h1>Enter a New Article </h1>

<form method = "POST" action="/articles">
<p>Article Title:<input type="text" name="title"</p>
<p>Article:<input type="text" name="content"</p>
<input type="submit" value="Submit" id="submit">
</form>
