<form method="post" action="/articles" >

  Article title: <input id="title" type="text" name="title">

  
  Article content: <input id="content" type="text" name="content">

  <button id="articles" type="submit" value="submit">Submit</button>

</form>