<form method="POST" action="/articles/<%=@article.id%>"
<input id="hidden" type="hidden" name="_method" value="DELETE">

<p><%= @article.title %></p>
<p><%= @article.content %></p>
<input type="submit" />
</form>
